<div class="modal-header">
<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
<h4 class="modal-title">Landlords Package - Glasgow 2014 - amiProperty</h4>
</div>
<div class="modal-body">
<p>If you're planning to rent out your home for the Games then there are a lot of things you need to consider.  As well as the safety and security of your new tenant, you should also be thinking about how to ensure your home stays in good condition throughout their stay and also where to turn and what to do if any issues do arise.
</p>
<p>
At amiProperty, we specialise in giving landlords a first class, personal service and we are always available at the end of the phone to discuss issues as and when they arise. By renting your property through ourselves you will also have the security and peace of mind that comes from dealing with a reputable and registered limited company.  And don't worry if your property isn't in great shape - we also offer a very competitively priced renovations service and guarantee that any work we undertake will be completed in time for the Games.  Due to the specialised nature of our service and the number of visits that we make to the property, we are only dealing with Games lets within G1-G3 postcodes, but if you are outside this area we may be able to help in terms of advice and guidance for your let as well as offering fantastic rates on our renovation service.
</p>
<p>We offer the same fantastic rates for our Games lets as for our standard lets, we also offer a cleaning service which is tailored to your specific needs and costed individually for you - we will attend at your property at least twice a week during the stay of your visitors and we will be present to check them in to your property and to check them out. We will provide a full inventory for all your furniture and can advise on storage solutions for your own personal belongings.
</p>
<p>
2014 is going to be an amazing year for Glasgow and we believe that landlords like yourself should be able to relax and enjoy the summer of sport without worrying about your property investment - Let us take the worry and hassle out of the short term rental process for you.
</p>
<p>
To discuss your Games needs further or indeed any other property needs that you may have, please <a href="#contact">contact us</a>.
</p>
<p>
Look forward to speaking with you soon,
</p>
<p>
Angela & the team, amiProperty x
</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
