<div class="container marketing">
    <div class="about-intro">
        <h1>Buy, Rent or Renovate</h1>
        <p class="lead amiSubHeader">Check out our properties...</p>
    </div>
    <div class="container about">
        <div class="row">
            <p class="lead">
                As the newest and freshest company operating in the Scottish Property Industry and situated in the heart of the Merchant City,
	  amiProperty specialise in properties in and around the Glasgow area and also Renfrewshire, Inverclyde and Lanarkshire.
            </p>
            <p>Here you can find your ideal property whether you are looking to rent, buy or renovate.</p>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Finding your new property</div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Search</h4>
                        <p class="list-group-item-text">
                            At amiProperty we like to make things easy for you.  To search for a property just start typing in the search box below. Simple!
                        </p>
                        <input class="rounded amiSearchBox" placeholder="e.g. G81, G81 1DQ, Paisley, Dumbarton Road" data-ng-model="query.Address" />
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Filter</h4>
                        <p class="list-group-item-text">
                            If you haven't visited us before but you have a good idea of what you want, use the filters below to remove the great properties and leave the ideal ones.
                            Don't worry, the filters are automatically applied and you can even search after filtering.  Easy peasy.
                        </p>
                        <div class="row">
                            <p class="col-md-4">
                                Choose Type: 
                                <select data-ng-model="selectedType" data-ng-options="p.name for p in data.propertyTypes | unique:'name'">
                                    <option value="">Any</option>
                                </select>
                            </p>
                            <p class="col-md-4">
                                Choose Area:
                                <select data-ng-model="selectedArea" data-ng-options="a.name for a in data.propertyAreas | unique:'name'">
                                    <option value="">Any</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Order</h4>
                        <p class="list-group-item-text">
                            Sometimes its good to get things in order.
                        </p>
                        <select data-ng-model="orderProp" data-ng-options="ord.value as ord.name for ord in orderOptions">
                        </select>
                    </div>
                </div>
                <!-- /list group -->
            </div>
            <!-- /panel body -->
        </div>
        <!-- /panel -->
        <div class="container marketing metro">
            <div class="row">
                <div class="repeat-animation hide-fade" data-ng-repeat="property in data.properties | filter:query |  propertyTypeFilter:selectedType | propertyAreaFilter:selectedArea | orderPropertyBy:orderProp">
                    <div class="tile triple double-vertical">
                        <div class="tile-content image">
                            <a data-ng-href="#/properties/{{property.Id}}">
                                <img data-ng-src="{{property.Images[0].ImageUrl}}" alt="Property Image">
                            </a>
                        </div>
                        <div class="brand bg-dark opacity">
                            <span class="text">{{property.Title}} - {{property.Type.DisplayName}} - {{property.Price | currency}}
                            </span>
                            <span class="text">{{property.Address.HouseNumber}} - {{property.Address.Street}} - {{property.Address.PostCode}}</span>

                            <span class="text">{{property.Summary}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

