<div class="about-intro">
        <h1>About amiProperty</h1>
        <p class="lead">This is our story...</p>
      </div>
	 <div class="container about">
      <!-- Three columns of text below the carousel -->
      <div class="well">
	  <div class="row-fluid">
        <p>
			Established in 2013, amiProperty is one of the newest and freshest companies operating in the Scottish Property Industry.  Situated in the heart of the Merchant City, ami specialises in properties in and around the Glasgow area and also Renfrewshire, Inverclyde and Lanarkshire.
		</p>
		</div>
		<div class="row-fluid">
		<p>
			I decided to set up ami after my own experiences with property companies and letting agents in particular when trying to rent my own home out, as I found that most of them lacked the kind of service I was looking for as a new landlord, and the list of charges and upfront costs seemed never ending!
			I thought there must be a gap in the market for a smaller, more accessible and more reliable service with no extra charges and exceptional customer service, and my extensive research with other landlords proved that there was.
			It was on this basis that I decided to form my own letting company, with the focus being primarily on “accidental” landlords – like myself - who had found themselves a landlord through circumstance rather than choice.
			The first class service levels however, will also appeal to those with more extensive portfolios who believe they deserve a better standard of service from their letting agent, and also to landlords who have either never used an agency before, or are disappointed with the current service they are receiving.
		</p>
		</div>
		<div class="row-fluid">
		<p>
			At ami we have a simple belief that the property market should be made entirely hassle free for all our customers and our aim for 2014 and 2015 is to extend our reach into the areas of estate agency, property buying agents, and also to continue with our home renovations service, and then for 2016 and beyond we have exciting plans for affordable home building in the Glasgow area.   
		</p>
		</div>
		<div class="row-fluid">
		<p>
			Thanks for taking the time to visit our website and please <a href="#contact">drop us an email or give me a call</a> if you would like more information on any of these services we offer or if you would like to arrange a consultation (free of course!) to discuss any property needs that you may have.
		</P>
	</div>
  </div>
</div>