 <div class="container marketing">
 <img class="img-circle pull-left" src="./images/badge.png" alt="glasgow">
 <img class="img-circle pull-right" src="./images/badge.png" alt="glasgow">
 	      <div class="about-intro">
        <h1>amiProperty Welcomes the Games</h1>
        <p class="lead">Glasgow's time to shine...</p>
		 <img class="img-square" src="./images/banner.png" alt="games banner">
      </div>
 <div class="container about">
	  <div class="row-fluid" ng-controller="ModalCtrl">
	  <p class="lead">The Summer of 2014 will be an amazing time for Glasgow with the arrival of the Games to the City, and at amiProperty we are excited to work with some fantastic landlords to offer first class accommodation and events packages in the heart of the City for the duration of the Games.
	</p>
	<p class="lead">
	All of our wonderful properties are listed in detail on <a href="http://www.citylets.co.uk/letting-agents-glasgow/ami-property-games/"> Citylets</a>.  We are always adding more properties so please keep checking so you don't miss out!
	</p>
<p>
If you are lucky enough to have a ticket for the Games and are a visitor to the City then please get in touch for further information on our fantastic events and accommodation packages.  We think you will be impressed with our Tenants Package.
</p>
<p>
And landlords won't miss out either.  If you have a property within the city centre that is available for the duration of the Games then please take a look at our Landlords Package.
</p>
<p>Both packages come with a free consultation.</p>
	    <div class="btn-group" ng-controller="ModalCtrl">
    <button class="btn btn-primary btn-small" ng-click="open('tenant')">Tenants Package</button>
	<button class="btn btn-primary btn-small" ng-click="open('landlord')">Landlords Package</button>
	</div>
 </div> 
</div>