 <div class="container marketing">
 	      <div class="about-intro">
        <h1>amiProperty</h1>
        <p class="lead">Check out our properties...</p>
      </div>
 <div class="container about">
	  <div class="row-fluid">
	  <p class="lead">As the newest and freshest company operating in the Scottish Property Industry and situated in the heart of the Merchant City,
	  amiProperty specialise in properties in and around the Glasgow area and also Renfrewshire, Inverclyde and Lanarkshire.
	</p>
	<p>
	All of our wonderful properties to rent and buy are currently listed in detail on <a href="http://www.citylets.co.uk/letting-agents-glasgow/ami-property/"> Citylets</a>.  We are always adding more properties to our portfolio so please keep us in mind!
	</p>
 </div> 
</div>