<div class="modal-header">
<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
<h4 class="modal-title">Tenants Package - Glasgow 2014 - amiProperty</h4>
</div>
<div class="modal-body">
<p> amiProperty are delighted to welcome all our national and international visitors to the City for our Summer of Sport 2014, and as well as providing you with first class accommodation right in the heart of the City Centre,  we also have fantastic events packages to make your trip the holiday of a lifetime.  Let us take all of the worry and stress out of planning your stay and we will build tailored holiday packages around your needs based on which Games you have tickets for, where in Glasgow you would like to visit and also ensuring all the necessary sight seeing, relaxation and fun elements that make up the perfect holiday
</p>
<p>
As our packages will be tailored to exactly what you are looking from for your holiday, this list is just the basics that you can expect with an amiProperty Games package:
</p>
<ul>
<li>Accommodation in the heart of the City - G1-G3 postcodes only; </li>
<li>Personal airport transfers from either Glasgow or Prestwick airport, direct to your accommodation;</li>
<li>Welcome pack on arrival with the Scottish basics of Whisky and shortbread, but also the usual basics of tea, coffee and a selection of other foods as specified by yourself, along with some games to keep the kids entertained if required;</li>
<li>1 hour induction and welcome meeting on the first day of your vacation;</li>
<li>Personal tour, maps and local handbook for your local area;</li>
<li>Travelcards for the City for every day of your stay, and tailored transport packages for your specific needs;</li>
<li>24 hour concierge and advice service;</li>
<li>Serviced accommodation including fresh towels and maid service if required;</li>
<li>First class travel to Edinburgh for one day of your stay, with a free afternoon tea and City tour of your choice.</li>
</ul>
<p>
We will also provide you with a dedicated consultant for the duration of your stay who will visit at your accommodation every few days at a convenient time for yourself, and in advance of your vacation we will be on hand for regular Skype or telephone conversations at whichever time of day suits your local time zone.
</p>
<p>
At amiProperty we have a real passion for the City of Glasgow and want to ensure that all our visitors leave with the very best impression of our City and the people of Scotland, so let us add that extra bit of value to your stay.
</p>
<p>
Please <a href="#contact">get in touch</a> for further details or to request a free quote based on your specific holiday needs.
</p>
<p>
Look forward to speaking with you soon,
</p>
<p>
Angela & the team, amiProperty x
</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
